{% extends "_template.html" %}

{% block content %}
<div class="row justify-content-center w-100">
  <div class="col-8 text-center">
    <h1 class="pt-5">Search Engine</h1>
  </div>
</div>
<div class="row justify-content-center w-100">
  <div class="col-6 text-center">
    <ul class="nav nav-tabs nav-justified pb-5" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="text-tab" data-toggle="tab" href="#text" role="tab" aria-controls="text" aria-selected="true">Text</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="image-tab" data-toggle="tab" href="#image" role="tab" aria-controls="image" aria-selected="false">Image</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="audio-tab" data-toggle="tab" href="#audio" role="tab" aria-controls="audio" aria-selected="false">Audio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="video-tab" data-toggle="tab" href="#video" role="tab" aria-controls="video" aria-selected="false">Video</a>
      </li>
    </ul>

    <div class="tab-content pt-5" id="myTabContent">
      <div class="tab-pane fade show active" id="text" role="tabpanel" aria-labelledby="text-tab">
        <h4>Upload Text</h4>
        <form action="/query/text" method="POST">
          <div class="form-group">
            <input name="text" class="form-control" id="text_input" type="text" placeholder="Enter text">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="tab-pane fade" id="image" role="tabpanel" aria-labelledby="image-tab">
        <h4>Upload Image</h4>
        <form action="/query/image" method="POST" enctype=multipart/form-data>
          <div class="form-group">
              <input name="file" type="file" class="form-control-file" id="image_input">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="tab-pane fade" id="audio" role="tabpanel" aria-labelledby="audio-tab">
        <h4>Upload Audio</h4>
        <form action="/query/audio" method="POST" enctype=multipart/form-data>
          <div class="form-group">
            <input name="file" type="file" class="form-control-file" id="audio_input">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="tab-pane fade" id="video" role="tabpanel" aria-labelledby="video-tab">
        <h4>Upload Video</h4>
        <form action="/query/video" method="POST" enctype=multipart/form-data>
          <div class="form-group">
            <input name="file" type="file" class="form-control-file" id="video_input">
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}